:root{
    --main-radius: 5px;
    --main-padding: 5px;

}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 16% 28% 28% 28%;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas:
    "nav nav nav nav "
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar content4 content5 content6"
    "footer footer footer footer" ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #35858B;
    column-gap: 0.2rem;
    row-gap: 0.2rem;
}
nav{
    background-color: #D9D7F1;
    grid-area: nav;
    border-radius: var(--main-radius);

}
main{
    background-color: #FFFDDE;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#sidebar{
    background-color: #FFCBCB;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content1{
    background-color: #E7FBBE;
    grid-area: content1;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content2{
    background-color: #E7FBBE;
    grid-area: content2;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content3{
    background-color: #E7FBBE;
    grid-area: content3;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content4{
    background-color: #E7FBBE;
    grid-area: content4;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content5{
    background-color: #E7FBBE;
    grid-area: content5;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#content6{
    background-color: #E7FBBE;
    grid-area: content6;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
footer{    
        background-color: #D9D7F1;
        grid-area: footer;
        border-radius: var(--main-radius);
        padding-top: var(--main-padding);
}

@media only screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1.0fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr ;

        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "footer";
    }




