:root{
    --main-radius: 5px;
    --main-padding:5px;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
    font-family:cursive;
    font-size: 18px;
    text-align: center;
    column-gap: 0.2rem; 
    row-gap: 0.2rem;
       

}

nav{
    background-color: #65C18C;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
    
}
main{
    background-color: #C1F4C5;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
}
#sidebar{
background-color:#FFBED8 ;
grid-area: sidebar;
border-radius: var(--main-radius);
padding: var(--main-padding);
}
#content1{
background-color:#FF7BA9 ;
grid-area: content1;
border-radius: var(--main-radius);
 padding: var(--main-padding);
}
#content2{
background-color: #C1F4C5;
grid-area: content2;
border-radius: var(--main-radius);
padding: var(--main-padding);
}
#content3{
background-color:#FFBED8 ;
grid-area: content3;
border-radius: var(--main-radius);
 padding: var(--main-padding);
}
footer{
    background-color: #65C18C;    
    grid-area: footer;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}
@media only screen and (max-width: 550px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr ;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main" 
        "content1"
        "content2"
        "content3"
        "footer";
    }
}